{% extends 'homepage.html'%}
{% load static %}
{% block content-home %}
<link rel="stylesheet" href="{% static 'login-register3.css' %}">
<div class="password_reset_confirm">


    <h2>Digite a sua nova senha</h2>
    <p>Por favor digite a sua nova senha duas vezes para vermos se você a digitou corretamente.
    </p>
    <form id="password_reset_confirm" method="post">
        {% csrf_token %}
        <!--   {{form}} -->
       <label>Digite sua nova senha:</label>
        {{form.new_password1}}
        
        <label>Digite novamente a sua senha:</label>
        {{form.new_password2}}
        
        <input type="submit" name="Atualizar">
    </form>
</div>
{% endblock%}